<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header>
    헤더 영역: 환영인사 마무리인사 랜덤명언
</header>
    <h1> {{userName}}, 잘가시오~ </h1>
<footer>
    DongYang Univ. | Privacy | Terms ||
</footer>
</body>
</html>